table {
    width: 100%;
    tr {
        th, td {
            padding:0.5em;
            vertical-align: top;
            border: 1px solid #ccc;
        }
        th {
            text-align: center;
            background-color: #e9ecef;
            font-weight:bold;
        }
    }
}