
$_font_path: '../fonts/route159/';
$_baseFontWeight:lighter;
$_baseFontExtender: Helvetica Neue,Helvetica,Arial,sans-serif;

/* REGULAR*/
@font-face {
    font-family: 'r159_r';
    src: url($_font_path + 'route159-regular.otf') format("opentype");
}

/* LIGHT*/
@font-face {
  font-family: 'r159_l';
  src: url($_font_path + 'route159-light.otf') format("opentype");
}

/* ULTRALIGHT*/
@font-face {
    font-family: 'r159_ul';
    src: url($_font_path + 'route159-ultralight.otf') format("opentype");
}

/* SEMIBOLD */
@font-face {
  font-family: 'r159_sb';
  src: url($_font_path + 'route159-semibold.otf') format("opentype");
}

/* ITALIC */
@font-face {
  font-family: 'r159_i';
  src: url($_font_path + 'route159-lightitalic.otf') format("opentype");
}

$font-family-monospace : SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
  font-family: r159_ul, $_baseFontExtender;
}

h1, h2, h3, h4, h5, h6 {
  font-family: r159_l, $_baseFontExtender;
}

strong, .fw-bold {
  font-family: r159_sb, $_baseFontExtender;
}

em {
  font-family: r159_i, $_baseFontExtender;
}

p, body {  
  font-family: r159_l, $_baseFontExtender;
  line-height: 1.6em;
}
section p, section li {
  color:#455;
}

a:not(.nav-link) {
  color: #0dcaf0;
}

.nav-link.active {
  color: #0dcaf0;
}