<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }} | {{ page.title }}</title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-title" content="turbohirn on Github"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no"/>
    <meta name="description" content="Set gpio header by remote"/>
    <meta name="msapplication-TileColor" content="#212529"/>
    <meta name="msapplication-TileImage" content="/assets/favicon/mstile-150x150.png"/>
    <meta name="application-name" content="turbohirn on Github"/>
    <meta name="theme-color" content="#212529" media="(prefers-color-scheme: light)"/>
    <meta name="theme-color" content="#212529" media="(prefers-color-scheme: dark)"/>
    <link rel="apple-touch-startup-image" href="/assets/favicon/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png"/>
    <link rel="manifest" href="/assets/favicon/site.webmanifest" crossorigin="use-credentials"/>
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#212529"/>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon/favicon.ico"/>
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-chrome-192x192.png"/>
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/favicon/android-chrome-512x512.png"/>
    <link rel="alternate icon" type="image/png" href="/assets/favicon/favicon-32x32.png"/>    
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body class="h-100 bg-dark">

    {% include symbols.svg %}

    <header class="bg-secondary"> 
        
        <nav class="container navbar navbar-dark navbar-expand-lg px-2">

                
            <a class="navbar-brand nav-link" href="/">
              
              <svg class="d-inline-block align-text-middle" style="height:2em; width:2rem;">
                  <use xlink:href="#s-logo-bot" style="fill:#fff"></use>
              </svg>
              {{ site.title }}</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% assign plink = page.permalink %}
              {% assign pages = site.pages | sort: 'sort' %}
              {% for _doc in pages %}
                  {% if _doc.layout == 'page' and _doc.level == 1 %}
                      {% if plink == _doc.permalink %}
                      {% assign aclass = 'active text-info'%}
                      {% else %}
                      {% assign aclass = 'text-white'%}
                      {% endif %}
                      <li class="nav-item"><a href="{{_doc.permalink}}"  class="nav-link {{ aclass }}">{{_doc.title}}</a></li>
                  {% endif %}
              {% endfor %}
              
              </ul>
              </div>

        </nav>

        
    </header>
    <section class="bg-white">
        <div class="container pt-3 pb-5">
            
            <div class="row">

                
                {% if page.level < 2 %}
                <div class="col-md-8 col-lg-9">
                  <h1 class="display-6">{{ page.title }}</h1><hr/>
                  {{ content }}
                  {% if page.sub %}
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for _doc in pages %}
                  {% if _doc.layout == 'page' and _doc.level == 2 %}

                  <div class="col">
                    <div class="card text-bg-light text-center" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">{{_doc.title}}</h5>
                        <p class="card-text">
                          <a href="{{_doc.permalink}}" class="stretched-link"></a>
                          <small>{{_doc.desc}}</small>
                        </p>
    <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" preserveAspectRatio="none" style="background-color:#48a;">

<path d="M 0 80 V 200 H 200 V 80 C 80 140, 80 130, 0 80 Z" fill="lightgrey" opacity="0.25"/>
<path d="M 0 100 V 200 H 200 V 100 C 80 140, 100 60, 0 100 Z" fill="lightgrey" opacity="0.25"/>

</svg>                    
                        
                      </div>
                    </div>
                  </div>
                  
                  {% endif %}
                  {% endfor %}
                  </div>
                  {% endif %}
                                
                </div>
                <div class="col-md-4 col-lg-3">


                  <div class="card mt-4 mt-sm-0" style="width: 18rem;">
                    <div class="card-header">
                      <h6 class="card-title">Important Releases</h6>
                      <p class="card-subtitle mb-2 text-muted">Neue Veröffentlichungen aus den Projekten</p>
                    </div>
                    <div class="card-body">
                    {% if site.posts.size > 0 %}
                      {% for post in site.posts %}
                        <a href="{{ post.url }}" class="card-link">{{ post.title }}</a>
                      {% endfor %}
                    {% else %}
                      Noch keine Releases verfügbar!
                    {% endif %}
                    </div>
                  </div>
                {% else %}

                <div class="col-12">
                  <h1 class="display-6">{{ page.title }}</h1><hr/>
                </div>
                <div class="col-md-4 col-lg-3">
                  <ul class="list-group mb-4 border">
                  {% for _doc in pages %}
                  {% if _doc.layout == 'page' and _doc.level == 3 %}

                  {% if page.title == _doc.title %}
                  {% assign aclass = 'bg-info text-white fw-bold'%}
                  {% else %}
                  {% assign aclass = ''%}
                  {% endif %}

                  <li class="list-group-item list-group-item-action border-0 py-1 {{ aclass }}">
                    <a href="{{_doc.permalink}}" class="nav-link" title="{{_doc.name}}"><small>{{_doc.title}}</small></a>
                  </li>
                  {% endif %}
                  {% endfor %}
                  </ul>
                </div>
                <div class="col-md-8 col-lg-9">
                {{ content }}
                </div>

                {% endif %}
            </div>

    
        </div>

    </section>

    <footer class="bd-footer py-4 py-md-3 text-light">
        <div class="container">
            <div class="row">
                

                <div class="col-3">
                    <p>Mail: {{ site.email }}</p>
                    <p>Haftung, Impressum auf <a href="https://turbohirn.de" target="_blank">turbohirn.de</a></p>
                    <p>Link zum <a href="/feed.xml">Feed</a></p>



                </div>
                <div class="col-9"></div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
